body {
  background-color: #282c34;
  text-align: center;
}

.square-button {
  background-color: #61dafb;
  height: 15vmin;
  width: 15vmin;
  margin: 10px 10px;
  font-size: 38px;
  font-weight: 750;
  position: relative;
  top: 30vmin;
}

@media only screen and (max-width:600px) {
  .square-button {
    background-color: #61dafb;
    height: 25vmin;
    width: 25vmin;
    margin: 10px 10px;
    font-size: 32px;
    font-weight: 650;
    position: relative;
    top: 50vmin;
  }
}